{% extends layout_path %}

{% block scripts %}
    <script>
        function hover(element) {
            var src = element.getAttribute('src')
                .replace('-sm', '-sm-hover')
                .replace('-md', '-md-hover')
                .replace('-lg', '-lg-hover');

            element.setAttribute('src', src);
        }

        function unhover(element) {
            element.setAttribute('src', element.getAttribute('src').replace('-hover', ''));
        }

        $(document).ready(function() {
            $('.thumbnail').hover(function() {
                hover(this);
            }, function(){
                unhover(this);
            });
        });
    </script>
{% endblock %}

{% block title %}
    {{ info.title }} - Different Designs
{% endblock %}

{% block header %}
    <div class="row padding-1">
        <h1 class="editable" style="width:100%;">Different Designs</h1>

        <div style="width:100%;">
            <a href="/designs?design=marketing" class="button large {% if design == "marketing" %}disabled{% endif %}">Marketing</a>
            <a href="/designs?design=portfolio" class="button large {% if design == "portfolio" %}disabled{% endif %}">Portfolio</a>
            <a href="/designs?design=modern" class="button large {% if design == "modern" %}disabled{% endif %}">Modern</a>
            <a href="/designs?design=simple" class="button large {% if design == "simple" %}disabled{% endif %}">Simple</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row padding-2">
        <div class="thumbnail float-right margin-1 padding-1 text-center">
            <img style="width:300px;" class="hover-shake" src="assets/images/content/town.png" title="" alt="Town of small businesses" />
            <span>
                <br />
                <strong>Small Businesses,</strong>
                <em class="subheader">we're here to help.</em>
                <br />
            </span>
        </div>
        
        <p>
            With <strong>AVCorn</strong>, you have the ability to easily swap templates/designs.
            This page acts an a demo to be able to explore each design on the fly.
            Our focus and hope with providing so many designs, is that more wide spread small businesses will be able to use our product.
            No matter the category of the client's small business, we hope we have something to offer to apease to each business category.
            Scroll below to adventure through what elements you may like for your own website or client's website.
            Hopefully there's something for everyone!
        </p>
        <p>
            On this page you can switch over to different designs to see what's possible.
            Just click one of the design previews, listed below.
            You can also invoke this same switcher on any page throughout the site, by adding "<i>?design=marketing</i>" to the URL.
            All you need to do is change "<i>marketing</i>" to the theme you would like to utilize.
            We have provided you with several different themes to toy around and expriment with, so you can find what's best for you.
        <p>

        <p>
            On certain devices, you can hover over each preview to see an alternative view of the template.
            Eacho preview will adapt to the device screen size as well, showing you a previews of what each design will look like in that specific size.
        </p>

        <p>
            We have a few main foundational designs, along with a list of templates for different small/local businesses.
            You will find a list of previews for each design below.
            We always have more business cateogires in development, so if you don't see something that fits you currently, check back soon!
        </p>

        <br />

        <h2 class="subheader">General Design Previews</h2>
        <p class="justify">
            We offer a handful of general designs to show off certain design aspects.
            No content is changed around, as every change is design oriented.
        </p>

        <div class="grid-x grid-margin-x text-center" data-equalizer data-equalize-on="medium">
            {% set designs = [
                {
                    'name': 'marketing',
                    'title': 'Marketing',
                    'link': '/?design=marketing',
                    'description': 'Good enough for any website, that we use for our own demo. We guarentee it!'
                },
                {
                    'name': 'modern',
                    'title': 'Modern',
                    'link': '/?design=modern',
                    'description': 'Another creative design that\'s more modern and appeasing to the eye.'
                },
                {
                    'name': 'simple',
                    'title': 'Simple',
                    'link': '/?design=simple',
                    'description': 'Simple. Minimal.'
                },
                {
                    'name': 'blog',
                    'title': 'Blog',
                    'src': '/assets/images/nutty/nutty-comingsoon.png',
                    'description': 'Want a blog to share your thoughts and ideas? Find out more.'
                },
                {
                    'name': 'shopping',
                    'title': 'Shopping',
                    'src': '/assets/images/nutty/nutty-comingsoon.png',
                    'description': 'Buy in to this design today!'
                },
                {
                    'name': 'portfolio',
                    'title': 'Portfolio',
                    'src': '/assets/images/nutty/nutty-comingsoon.png',
                    'description': 'Let your person projects be free on the web.'
                }
            ] %}

            {% for design in designs%}
                <div class="cell large-4 medium-4 small-6">
                    <h3 style="font-weight:bold;">
                        {%if design.link %}
                            <a href="{{ design.link }}">{{ design.title }}</a>
                        {% else %}
                            {{ design.title }}
                        {% endif %}
                    </h3>

                    {%if design.link %}
                        <a href="{{ design.link }}">
                            <img class="thumbnail small-12"
                                src="/assets/images/designs/design-{{ design.name }}-lg.png"
                                data-interchange="
                                    [/assets/images/designs/design-{{ design.name }}-sm.png, small],
                                    [/assets/images/designs/design-{{ design.name }}-md.png, medium],
                                    [/assets/images/designs/design-{{ design.name }}-lg.png, large]"
                                title="{{ design.title }}"
                                alt="{{ design.title }} Preview" />
                        </a>
                    {% else %}
                        <img class="thumbnail small-12 hover-shake"
                            src="{{ design.src }}"
                            title="Coming Soon!"
                            alt="Coming Soon!" />
                    {% endif %}

                    <p style="font-size:0.8em; font-style:italic; text-align:justify;">
                        {{ design.description }}
                    </p>

                    {%if design.link %}
                        <u><a href="{{ design.link }}">View Design</a></u>
                    {% else %}
                        <a href="#"><del>View Design</del></a>
                    {% endif %}
                    <br />
                    <br />
                </div>
            {% endfor %}
        </div>

        <br />

        <h2 class="subheader">Small Business Design Previews</h2>
        <p class="text-justify">
            We offer an extensive list of business category designs.
            Just to offer a quick selection and list of ideas to start from.
            Each design might incorporate content differences, based on the business' needs.
        </p>

        <div class="grid-x text-center" data-equalizer data-equalize-on="medium">
            {% set designs = [
                {
                    'name': 'agency',
                    'title': 'Agency',
                    'link': '/?design=agency',
                    'description': 'Our own company design.'
                },
                {
                    'name': 'autoshop',
                    'title': 'Autoshop',
                    'link': '/?design=autoshop',
                    'description': 'Fixing up against your competition.'
                },
                {
                    'name': 'coffeeshop',
                    'title': 'Coffeeshop',
                    'link': '/home/coffeeshop?design=coffeeshop',
                    'description': 'We brewed up a decitate design.'
                },
                {
                    'name': 'insurance',
                    'title': 'Insurance',
                    'link': '/home/insurance?design=insurance',
                    'description': 'Insurance agent landing and leads template.'
                },
                {
                    'name': 'lawncare',
                    'title': 'Lawncare',
                    'link': '/home/lawncare?design=landscape',
                    'description': 'Mowing down the competition with a great website.'
                },
                {
                    'name': 'photographer',
                    'title': 'Photographer',
                    'link': '/home/photographer?design=photographer',
                    'description': 'A snappy looking design.'
                },
                {
                    'name': 'spa',
                    'title': 'Spa',
                    'link': '/home/spa?design=spa',
                    'description': 'Relax, with our massage design.'
                },
                

                {
                    'name': 'artist',
                    'title': 'Artist',
                    'src': '/assets/images/logos/logo-artist.png',
                    'description': 'Creative and inspiring.'
                },
                {
                    'name': 'bakery',
                    'title': 'Bakery',
                    'src': '/assets/images/logos/logo-bakery.png',
                    'description': 'Baking up some tasty websites.'
                },
                {
                    'name': 'barbershop',
                    'title': 'Barbershop',
                    'src': '/assets/images/logos/logo-barber.png',
                    'description': 'Stylish, neat, and fitting.'
                },
                {
                    'name': 'chiropractor',
                    'title': 'Chiropractor',
                    'src': '/assets/images/logos/logo-chiropractor.png',
                    'description': 'Let our design have a crack at your customers.'
                },
                {
                    'name': 'cleaning',
                    'title': 'Cleaning',
                    'src': '/assets/images/logos/logo-maid.png',
                    'description': 'A clean and tidy design.'
                },
                {
                    'name': 'finance',
                    'title': 'Finance',
                    'src': '/assets/images/logos/logo-accountant.png',
                    'description': 'We\'ve crunched the numbers to make this design afforadable.'
                },
                {
                    'name': 'fitness',
                    'title': 'Fitness',
                    'src': '/assets/images/logos/logo-gym.png',
                    'description': 'A fit design for health.'
                },
                {
                    'name': 'generalstore',
                    'title': 'General Store',
                    'src': '/assets/images/logos/logo-market.png',
                    'description': 'Has everything you need!'
                },
                {
                    'name': 'laundromat',
                    'title': 'Laundromat',
                    'src': '/assets/images/logos/logo-laundromat.png',
                    'description': 'Clean and fresh websites.'
                },
                {
                    'name': 'lawyer',
                    'title': 'Lawyer',
                    'src': '/assets/images/logos/logo-lawyer.png',
                    'description': 'We make your website right!'
                },
                {
                    'name': 'personal',
                    'title': 'Personal',
                    'src': '/assets/images/nutty/nutty-comingsoon.png',
                    'description': 'All about you.'
                },
                {
                    'name': 'petshop',
                    'title': 'Pet Shop',
                    'src': '/assets/images/logos/logo-petshop.png',
                    'description': 'So cute and adorable!'
                },
                {
                    'name': 'religious',
                    'title': 'Religious',
                    'src': '/assets/images/logos/logo-church.png',
                    'description': 'Praise be this design!'
                },
                {
                    'name': 'restaurant',
                    'title': 'Restaurant',
                    'src': '/assets/images/logos/logo-kitchen.png',
                    'description': 'Delcious.'
                },
                {
                    'name': 'tattooshop',
                    'title': 'Tattoo Parlor',
                    'src': '/assets/images/logos/logo-tattooshop.png',
                    'description': 'Let us draw you up your website.'
                },
                {
                    'name': 'storage',
                    'title': 'Storage',
                    'src': '/assets/images/logos/logo-storage.png',
                    'description': 'Find a home to store all your business information online.'
                },
                {
                    'name': 'toyshop',
                    'title': 'Toy Shop',
                    'src': '/assets/images/logos/logo-toyshop.png',
                    'description': 'Checking off all the needs on your list, twice!'
                }
            ] %}

            {% for design in designs%}
                <div class="cell large-3 medium-4 small-6" style="padding:0 0.2em;">
                    <h3 style="font-weight:bold;">

                    </h3>
                    {%if design.link %}
                        <h3 style="font-weight:bold;">
                            <a href="{{ design.link }}">{{ design.title }}</a>
                        </h3>
                    {% else %}
                        <h4 style="font-weight:bold;">
                            {{ design.title }}
                            <em class="subheader" style="display:block; font-size:0.6em;">(Coming Soon)</em>
                        </h4>
                    {% endif %}

                    {%if design.link %}
                        <a href="{{ design.link }}">
                            <img class="thumbnail small-12"
                                src="/assets/images/designs/design-{{ design.name }}-lg.png"
                                data-interchange="
                                    [/assets/images/designs/design-{{ design.name }}-sm.png, small],
                                    [/assets/images/designs/design-{{ design.name }}-md.png, medium],
                                    [/assets/images/designs/design-{{ design.name }}-lg.png, large]"
                                title="{{ design.title }}"
                                alt="{{ design.title }} Preview" />
                        </a>
                    {% else %}
                        <div style="padding:0 2em;">
                            <img class="thumbnail small-12 hover-shake"
                                src="{{ design.src }}"
                                title="Coming Soon!"
                                alt="Coming Soon!" />
                        </div>
                    {% endif %}

                    <p style="font-size:0.8em; font-style:italic; text-align:justify; padding:0 1em;">
                        {{ design.description }}
                    </p>

                    {%if design.link %}
                        <u><a href="{{ design.link }}">View Design</a></u>
                    {% else %}
                        <a href="#"><del>View Design</del></a>
                    {% endif %}
                    <br />
                    <br />
                </div>
            {% endfor %}
        </div>

        <br />
    </div>
{% endblock %}
