<header class="sticky-shrinknav-header">
    <div class="sticky-shrinknav-container">
        <div class="sticky-shrinknav-header-title">
            <span class="responsive-toggle hide-for-medium" data-responsive-toggle="nav-menu">
                <button class="menu-icon" type="button" data-toggle></button>
            </span>
            <a class="logo animate__animated animate__fadeInLeft animate__slow" href="/{{ linkparams }}">
                <img src="/assets/images/logos/logo-lawncare.png" alt="{{ info.company }}" />
            </a>
            <span class="responsive-phone hide-for-medium">
                <a href="tel:{{ info.phone }}"><i class="fa fa-phone"></i></a>
            </span>
        </div>
        
        <nav id="nav-menu" class="sticky-shrinknav-menu">
            <div class="top-bar-right">
                <ul class="dropdown menu vertical medium-horizontal animate__animated animate__fadeInDown" data-dropdown-menu>
                    {% set activeflag = 'true' %}
                    {% include "components/navigation.html" %}
                </ul>
                
                <div class="call-now show-for-large float-left text-center animate__animated animate__fadeIn animate__slower">
                    <a href="tel:{{ info.phone }}">
                        Call Now:
                        <br />
                        {{ info.phone }}
                    </a>
                </div>
                
                <a class="free-quote button show-for-medium float-right animate__animated animate__fadeIn animate__slower" href="/contact{{ linkparams }}">
                    Free Quote
                </a>
            </div>
        </nav>
    </div>
</header>