<title>{% block title %}{% endblock %}</title>

{% include "components/head.html" %}

<script>
    $(function() {
        $(window).scroll(function() {
            var winTop = $(window).scrollTop();
            if (winTop >= 30) {
                $("body").addClass("sticky-shrinknav-wrapper");
            } else{
                $("body").removeClass("sticky-shrinknav-wrapper");
            }
        });
    });
</script>

<style>
    body {
        background-image: url('/assets/images/content/lawncare-bg.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 280px;
    }

    h1, h2, h3, h4, h5 {
        color: #343;
        font-weight: bold;
    }

    a {
        color: #686;
    }

    a:hover {
        color: #464;
    }

    .subheader {
        color: #686;
        font-weight: normal;
    }

    .sticky-shrinknav-header {
        background: rgba(1, 50, 32, 0.6);
        background: linear-gradient(0deg, rgba(1, 25, 16, 75%) 0%, rgba(1, 50, 32, 75%) 100%);
        box-shadow: 0 0 5px #000;
        padding: 30px 0 0 0;
        width: 100%;
        height: 250px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        z-index: 2000;
    }

    .sticky-shrinknav-header-title {
        transition: all 0.3s ease;
        position: relative;
        transform: translateY(-1.875rem);
        margin-bottom: 0;
        color: #fefefe;
    }

    .sticky-shrinknav-header img {
        height: 250px;
        transition: all 0.5s ease;
    }

    .sticky-shrinknav-menu {
        position: absolute;
        right: 0px;
        bottom: 0;
        line-height: 1em;
        width: 100%;
        transition: all 0.5s ease;
    }

    .sticky-shrinknav-menu .menu {
        font-size: 1.2em;
        margin: 5em 5em 1em 0;
        transition: all 0.5s ease;
    }

    body.sticky-shrinknav-wrapper .sticky-shrinknav-menu .menu {
        margin: 2em 5em 1em 0;
    }
    
    .sticky-shrinknav-menu a {
        transition: all 0.3s ease;
        color: #fefefe;
    }
    
    .sticky-shrinknav-menu a:hover {
        background: rgba(1, 50, 32, 0.6);
        color: lightgreen;
    }

    .sticky-shrinknav-menu .active a {
        font-weight: bold;
        background: rgba(50, 50, 50, 0.6);
    }

    .sticky-shrinknav-menu .active a:hover {
        font-weight: bold;
        background: rgba(50, 50, 50, 0.8);
    }

    body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
        height: 150px;
        background: linear-gradient(0deg, rgba(16, 36, 31, 95%) 0%, rgba(34, 68, 53, 95%) 100%);
    }

    body.sticky-shrinknav-wrapper .sticky-shrinknav-header img {
        height: 150px;
    }

    .top-bar-title {
        margin: 0;
        padding: 0;
    }

    .call-now, .free-quote {
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.2em;
        margin: 0 2em 5em 0;
        transition: all 0.5s ease;
    }

    body.sticky-shrinknav-wrapper .call-now, body.sticky-shrinknav-wrapper .free-quote {
        margin: 0 2em 1em 0;
    }

    .hero {
        color: #fff;
        height: 40vh;
        text-shadow: 0 0 10px #000;
    }

    .hero h1 {
        color: #fff;
        font-size: 6em;
        font-weight: bold;
    }

    .content {
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 60%);
    }

    .footer {
        background: #fff;
        color: #000;
        margin: 2em 0 0 0;
    }

    .reviews {
        background: #fff;
        background: linear-gradient(0deg, #fff 0%, rgb(111, 135, 111) 100%);
    }

    .reviews .swiper-slide-visible div div div {
        background: #fff;
        background: linear-gradient(180deg, #fff 0%, #fff 70%, #ccc 100%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 40%);
        margin: 5px;
    }

    .reviews .swiper-slide-visible div div div div {
        background: none;
        box-shadow: none;
        margin: 2px;
    }

    .reviews .es-widget-title div div {
        color: #fff !important;
        font-size: 2em;
        text-shadow: 0 0 5px #000;
    }

    .bottom-nav {
        color: #333;
        font-size: 1.5em;
        font-weight: bold;
    }

    .bottom-nav a {
        color: #333833;
        transition: all 0.3s ease;
    }

    .bottom-nav a:hover {
        color:#686;
    }

    .bottom-nav .active>a {
        background: none;
        color:#686;
    }

    .bottom-nav .logo {
        text-align: center;
    }

    .bottom-nav .logo img {
        height: 120px;
    }

    .bottom-nav .social {
        font-size: 1.6em;
    }

    .bottom {
        background: #000500;
        background: linear-gradient(120deg, #000500 0%, #111511 70%, #222822 100%);
        box-shadow: 0 0 5px #000;
        color: #fff;
        font-weight: 400;
        padding: 1.5em 4em 1em 4em;
    }

    .bottom a {
        color: #fff;
        transition: all 0.3s ease;
    }

    .bottom a:hover {
        color: #ccc;
    }

    .designed-by {
        font-size: 0.9em;
        font-weight: 500;
    }
    .designed-by img {
        margin: 0.5em 1em;
    }
</style>

{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}