body {
    padding-top: 330px;
}

.sticky-shrinknav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 3.2rem;
    line-height: 3.75rem;
    width: 100%;
    transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
    transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
    border-bottom: #fefefe 5px solid;
}

.sticky-shrinknav-menu a {
    color: #fefefe;
}

.sticky-shrinknav-menu .active a {
    font-weight: bold;
    background: none;
}

.sticky-shrinknav-header-title {
    transition: all 0.3s ease;
    position: relative;
    transform: translateY(-1.875rem);
    margin-bottom: 0;
    color: #fefefe;
}

.sticky-shrinknav-header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2196e3;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 2000;
}

body.sticky-shrinknav-wrapper {
    padding-top: 130px;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
    height: 3.75rem;
    background-color: rgba(23, 121, 186, 95%);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
    transform: scale(0);
    transition: all 0.3s ease;
}


.social-footer {
    padding: 1rem;
    background: #8a8a8a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
}

.social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
    color: #4a4a4a;
    transition: color 0.3s ease-in;
}
