parameters:
  level: 5
  paths:
    - backend/source
    - backend/library
    - backend/index.php
    - public/index.php
    - tests
    - tests/Acceptance
    - tests/Benchmark
    - tests/Functional
    - tests/Intergration
    - tests/Regression
    - tests/Unit
    - tests/Support/AcceptanceTester.php
    - tests/Support/FunctionalTester.php
    - tests/Support/UnitTester.php