{% extends layout_path %}

{% block title %}
    Clients of {{ info.company }}
{% endblock %}

{% block description %}Find out what clients {{ info.company }} has{% endblock %}
{% block keywords %}clients, customers, preview, designs{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
        <h1>Our Clients</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row padding-2">
        <p>The work we do for our clients is our greatest value. So here's a showcase of that work.</p>

        <br />
        <hr />
        <br />

        <div class="grid-x grid-margin-x text-center" data-equalizer data-equalize-on="medium">
            {% set designs = [
                {
                    'name': 'lawncare',
                    'title': 'Lawncare',
                    'link': 'https://github.com/avcorn/avcorn-templates-lawncare',
                    'description': 'A generic lawncare template we designed.'
                },
                {
                    'name': 'insurance',
                    'title': 'Insurance',
                    'link': 'https://github.com/avcorn/avcorn-templates-insurance',
                    'description': 'An autoshop template for AVCorn.'
                },
                {
                    'name': 'marketing',
                    'title': 'AVCorn',
                    'link': 'https://github.com/avcorn/avcorn',
                    'description': 'The template designed for our open source CMS.'
                },
                {
                    'name': 'agency',
                    'title': 'Web Elements',
                    'link': 'http://webelements.agency',
                    'description': 'Our own website design.'
                }
            ] %}

            {% for design in designs%}
                <div class="cell large-4 medium-4 small-12">
                    <h3 style="font-weight:bold;">
                        <a href="#">{{ design.title }}</a>
                    </h3>
                    <a href="#">
                        <img class="thumbnail small-12"
                            src="assets/images/designs/design-{{ design.name }}-lg.png"
                            data-interchange="
                                [assets/images/designs/design-{{ design.name }}-sm.png, small],
                                [assets/images/designs/design-{{ design.name }}-md.png, medium],
                                [assets/images/designs/design-{{ design.name }}-lg.png, large]"
                            title="Preview {{ design.title  }}"
                            alt="{{ design.title  }} {{ design.title  }}" />
                    </a>
                    <p style="font-size:0.8em; font-style:italic;">
                        {{ design.description  }}
                    </p>
                </div>
            {% endfor %}
        </div>

        <br />

        <p class="text-center"><a class="button" href="/get-a-website">Get Your Own Website</a></p>

        <br />
    </div>
{% endblock %}
