{% extends layout_path %}

{% block title %}
    Contact {{ info.company }}, the Web Agency of Canton Ohio
{% endblock %}

{% block description %}Find how to contact {{ info.company }} or their customer service{% endblock %}
{% block keywords %}contact, form, email, customer service, support, help{% endblock %}

{% block styles %}
    <style>
        .clean-hero-slider {
            background: linear-gradient(180deg, rgb(15, 15, 15) 0%, rgb(32, 32, 32) 20%) !important;
        }

        .orbit-image-placeholder {
            background: linear-gradient(0deg, rgb(15, 15, 15) 0%, rgb(32, 32, 32) 20%) !important;
        }
    </style>
{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
        <h1>Contact Us</h1>
    </div>
{% endblock %}

{% block content %}
    {% include "components/contact.html" %}
    
    <div class="row padding-2 editable">
        <br />
        <div class="row">
            <div class="columns small-12 medium-6">
                <h3>General Inquiries:</h3>
                <p>For general queries, partnership opportunities, or any other non-urgent matters, please feel free to use the contact form above. Our team endeavors to respond to all inquiries within 24-48 hours during our operating hours, Monday through Friday, 9:00 AM to 4:00 PM EST.</p>
            </div>
            <div class="columns small-12 medium-6">
                <h3>Customer Support:</h3>
                <p>If you require assistance with any of our products or services, or have encountered an issue that needs immediate attention, our dedicated customer support team is here to help. Please reach out to us via help@webelements.agency, and we'll make every effort to address your concerns promptly.</p>
            </div>
        </div>

        <p>Thank you for choosing {{ info.company }}. We appreciate your support and interest in our endeavors.</p>

        <p>Warm regards,<br />
        The {{ info.company }} Team</p>
    </div>
{% endblock %}
