<div class="row padding-3 text-center">
    <a href="/website-design" class="small button">
        Small Business Website Development
    </a>

    <a href="/lead-generation" class="small button">
        Lead Generation Strategy
    </a>

    <a href="/marketing-analytics" class="small button">
        Marketing Reporting and Analytics
    </a>

    <a href="/search-engine-optimization" class="small button">
        Search Engine Optimization (SEO)
    </a>

    <a href="/search-engine-marketing" class="small button">
        Search Engine Marketing (SEM)
    </a>

    <a href="/social-media-marketing" class="small button">
        Social Media Marketing
    </a>

    <a href="/content-marketing" class="small button">
        Copyrighting and Content Marketing
    </a>

    <a href="/social-media-management" class="small button">
        Social Media Management
    </a>

    <a href="/email-marketing" class="small button">
        Email Marketing
    </a>

    <a href="/online-footprint" class="small button">
        Online Presence Strategy
    </a>

    <a href="/web-hosting" class="small button">
        Web Hosting and Domain Management
    </a>

    <a href="/security-management" class="small button">
        IT Security Management
    </a>

    <a href="/technology-automation" class="small button">
        Technology Automation
    </a>
</div>
