<footer id="footer" class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns editable">
      <h4 class="marketing-site-footer-name">We're Awesome</h4>
      <p>
        You're awesome.
        We're awesome.
        Our mascot is awesome.
        Our website is awesome.
        Our users are really awesome.
        Even our clients are awesome.
        Everyone is awesome!
      </p>
      <ul class="menu marketing-site-footer-menu-social">
        <li><a href="https://github.com/blaher/avcorn"><i class="fa fa-github" aria-hidden="true"> </i></a></li>
        <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"> </i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"> </i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"> </i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"> </i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns editable">
      <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fa fa-map-marker" aria-hidden="true"> </i>
        <p>100 W Rincon<br>San Francisco, CA 94015</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-phone" aria-hidden="true"> </i>
        <p>1 (800) 555-5555</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fa fa-envelope-o" aria-hidden="true"> </i>
        <p>notreal@fakeemail.com</p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Instagram</h4>
      <div class="row small-up-3">
        <div class="column column-block">
          <img src="https://unsplash.it/75/75?1" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://unsplash.it/75/75?2" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://unsplash.it/75/75?3" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://unsplash.it/75/75?4" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://unsplash.it/75/75?5" alt="" />
        </div>
        <div class="column column-block">
          <img src="https://unsplash.it/75/75?6" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column small-8 editable">
        <p>&copy; 2023 {{ info.company }} - No rights reserved</p>
      </div>
      <div class="column small-4">
        <ul class="menu marketing-site-footer-bottom-links">
          {% set activeflag = 'false' %}
          {% include "template/components/navigationFooter.html" %}

          <li><a href="#" data-open="exampleModal1">Admin</a><li>
        </ul>
      </div>
    </div>
  </div>
</footer>
