<!DOCTYPE html>
<html class="whatinput-types-initial whatinput-types-mouse" land="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% include "template/include/head.html" %}

    <script>
      $(function() {
        $(window).scroll(function() {
          var winTop = $(window).scrollTop();
          if (winTop >= 30) {
            $("body").addClass("sticky-shrinknav-wrapper");
          } else{
            $("body").removeClass("sticky-shrinknav-wrapper");
          }
        });
      });
    </script>

    <link rel="stylesheet" type="text/css" href="assets/styles/designs/autoshop.css" />
  </head>

  <body>
    <!-- {% include "template/components/admin.html" %} -->

    <div class="none">

      <header class="sticky-shrinknav-header">
        <h1 class="sticky-shrinknav-header-title clearfix">
          <img src="assets/images/logos/logo-lg.png" alt="Nut Head" title="Dr. Nuthaniel O. Head" />
          {{ info.title }}
        </h1>

        <ul class="menu align-center sticky-shrinknav-menu">
          {% include "template/components/navigation.html" %}
        </ul>
      </header>

      <br class="clearfix" />
      <div class="row text-center">
        {% block header %}

        {% endblock %}
      </div>

      <article id="content" class="docs-component row expanded clearfix">
          {% block content %}
            <div  class="editable"></div>
          {% endblock %}
      </article>

      <br />

      <footer class="social-footer">
        <div class="social-footer-left">
          <span>2023 &copy; {{ info.company }}</span>
        </div>
        <div class="social-footer-icons">
          <ul class="menu simple">
            <li><a href="/sitemap{{ linkparams }}">Sitemap</a></li>
            <li></li>
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </footer>

    </div>
  </body>
</html>
