<style>
    form .form-icons {
        text-align: center;
    }

    form .form-icons h4 {
        margin-bottom: 1rem;
    }

    form .form-icons .input-group-label {
        background-color: #1779ba;
        border-color: #1779ba;
        padding: 0.65em 1.7em 0.65em 1em;
    }

    form .form-icons .input-group-field {
        border-color: #1779ba;
    }

    form .form-icons .fa {
        color: white;
        width: 1rem;
    }

    .clean-hero-slider .orbit-caption {
        width: auto;
        height: auto;
        background: #0a0a0a;
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
        padding: 0.2rem 2rem;
    }

    @media print, screen and (min-width: 40em) {
        .clean-hero-slider .orbit-caption {
            background: rgba(0, 0, 0, 0.6);
            text-align: center;
            width: 50%;
            padding: 1rem 2rem;
            margin: 4em auto;
        }
    }

    @media screen and (min-width: 75em) {
        .clean-hero-slider .orbit-caption {
            padding-right: 10%;
        }
    }

    @media screen and (min-width: 90em) {
        .clean-hero-slider .orbit-caption {
            padding-right: 20%;
        }
    }

    .clean-hero-slider .orbit-caption p {
        font-size: 0.9rem;
        line-height: 1.25;
    }

    @media print, screen and (min-width: 40em) {
        .clean-hero-slider .orbit-caption p {
            font-size: 1.1rem;
        }
    }

    .clean-hero-slider .orbit-caption h3 {
        color: #ffae00;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    @media print, screen and (min-width: 40em) {
        .clean-hero-slider .orbit-caption h3 {
            font-size: 2.5rem;
            font-weight: normal;
        }
    }

    .clean-hero-slider .orbit-slide {
        padding-bottom: 40%;
        background: #0a0a0a;
    }

    @media print, screen and (min-width: 40em) {
        .clean-hero-slider .orbit-slide {
            padding-bottom: 0;
        }
    }

    .clean-hero-slider .orbit-caption button {
        background: #ffae00;
        padding: 1rem 0.5rem;
    }

    .clean-hero-slider .orbit-caption button:hover {
        background: #fefefe;
        color: #0a0a0a;
    }

    .clean-hero-slider .orbit-bullets {
        display: none;
    }

    @media print, screen and (min-width: 40em) {
        .clean-hero-slider .orbit-bullets {
            display: block;
            margin-bottom: 0;
            margin-top: -3rem;
            background: none;
        }
    }

    .clean-hero-slider .orbit-bullets button {
        border-radius: 0;
        background-color: #fefefe;
    }

    .clean-hero-slider .orbit-bullets button.is-active {
        background-color: #ffae00;
    }

    .orbit-image-placeholder {
        background: rgb(7, 48, 109);
        height: 500px;
        width: 100%;
    }
</style>

<script type="text/javaScript">
    function validateStep(element) {
        $('#contactForm form').foundation('validateInput', element);

        if (!$('.is-invalid-input').length) {
            $('.orbit').foundation('changeSlide', 'next');
        }

        return false;
    }
</script>

<div id="contactForm" class="orbit clean-hero-slider" role="region" aria-label="Favorite Space Pictures" data-orbit data-auto-play="false" data-prev-class="prev" data-next-class="next-empty">
    {% if get.status == 1 %}
        <div class="orbit-wrapper">
            <ul class="orbit-container">
                <li class="orbit-slide">
                    <figure class="orbit-figure">
                        <div class="orbit-image orbit-image-placeholder"></div>
                        <figcaption class="orbit-caption">
                            <h3>Form Submitted!</h3>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="orbit-wrapper">
            <form data-abide>
                <div class="form-icons">
                    <ul class="orbit-container">
                        {% if get.status == 2 %}
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="orbit-image orbit-image-placeholder"></div>
                                    <figcaption class="orbit-caption">
                                        <h3>Submission failed! Please try again later...</h3>

                                        <button class="next next-empty" type="button">Try Again &gt;</button>
                                    </figcaption>
                                </figure>
                            </li>
                        {% endif %}
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <div class="orbit-image orbit-image-placeholder"></div>
                                <figcaption class="orbit-caption">
                                    <h3>What is your name?</h3>

                                    <div class="input-group">
                                        <span class="input-group-label">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input id="contact-name" class="input-group-field" type="text" name="name" placeholder="Full name" required pattern="[a-zA-Z]+" {% if get.name %}value="{{ get.name }}"{% endif %} />

                                        <small class="form-error">Name is required and must be a string.</small>
                                    </div>

                                    <button class="next" onclick="validateStep($('#contact-name'))" type="button">Next &gt;</button>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <div class="orbit-image orbit-image-placeholder"></div>
                                <figcaption class="orbit-caption">
                                    <h3>What is your contact information?</h3>

                                    <div class="input-group">
                                        <span class="input-group-label">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input id="contact-email" class="input-group-field" type="email" name="email" placeholder="Email" required {% if get.email %}value="{{ get.email }}"{% endif %} />

                                        <small class="form-error">An email address is required.</small>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-label">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        <input id="contact-phone" class="input-group-field" type="phone" name="phone" placeholder="Phone (Optional)" required {% if get.phone %}value="{{ get.phone }}"{% endif %} />
                                    </div>

                                    <button class="prev" type="button">&lt; Back</button>
                                    <button class="next" onclick="validateStep($('#contact-email'))" type="button">Next &gt;</button>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="orbit-slide">
                            <figure class="orbit-figure">
                                <div class="orbit-image-placeholder"></div>
                                <figcaption class="orbit-caption">
                                    <h3>What is your message?</h3>

                                    <div class="input-group">
                                        <span class="input-group-label">
                                            <i class="fa fa-comment"></i>
                                        </span>
                                        <textarea class="input-group-field" name="message" required rows="8" cols="16" placeholder="Message">{% if get.message %}{{ get.message }}{% endif %}</textarea>

                                        <small class="form-error">An message is required.</small>
                                    </div>

                                    {% if get.design %}
                                        <input type="hidden" name="design" value="{{ get.design }}" />
                                    {% endif %}
                                    <input type="hidden" name="status" value="1" />
                        
                                    <button class="prev" type="button">&lt; Back</button>
                                    <button class="button" type="submit" name="send">Send</button>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <nav class="orbit-bullets">
            <button disabled class="is-active" data-slide="1"><span class="show-for-sr"></span></button>
            <button disabled data-slide="2"><span class="show-for-sr"></span></button>
            <button disabled data-slide="3"><span class="show-for-sr"></span></button>
            {% if get.status == 2 %}
                <button disabled data-slide="4"><span class="show-for-sr"></span></button>
            {% endif %}
        </nav>
    {% endif %}
  </div>
