{% include "components/head/trackers.html" %}
{% include "components/head/favicon.html" %}
{% include "components/head/foundation.html" %}
{% include "components/head/admin.html" %}
{% include "components/head/watcher.html" %}

<link rel="stylesheet" type="text/css" href="/assets/styles/avcorn.css" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
<link rel="author" type="text/plain" href="/humans.txt" />
<link rel="robots" type="text/plain" href="/robots.txt" />
<meta name="robots" content="all" />
