<div class="sitemap row">
    {% for section in sitemap.sections %}
        <div class="sitemap-column columns small-12 medium-4 padding-2">
            {% if section.title %}
                <h3 class="sitemap-title">{{ section.title }}</h3>
            {% endif %}
            {% if section.description %}
                <p class="sitemap-description">{{ section.description }}</p>
            {% endif %}
            <ul class="sitemap-list">
                {% for page in section.pages %}
                    <li class="sitemap-item">
                        <strong class="sitemap-item-title">
                            <a class="sitemap-item-link" href="{{ sitemap.pages[page].link }}{{ linkparams }}">
                                {{ sitemap.pages[page].title }}
                            </a>
                        </strong>
                        {% if sitemap.pages[page].description %}
                            <span class="sitemap-item-description">
                                - {{ sitemap.pages[page].description }}
                            </span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>