{% if social.github %}
    <li><a href="{{ social.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"> </i></a></li>
{% endif %}
{% if social.youtube %}
    <li><a href="{{ social.youtube }}" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"> </i></a></li>
{% endif %}
{% if social.facebook %}
    <li><a href="{{ social.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
{% endif %}
{% if social.twitter %}
    <li><a href="{{ social.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
{% endif %}
{% if social.instagram %}
    <li><a href="{{ social.instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
{% endif %}
{% if social.pintrest %}
    <li><a href="{{ social.pintrest }} target="_blank""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
{% endif %}
{% if social.linkedin %}
    <li><a href="{{ social.linkedin }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
{% endif %}