<!DOCTYPE html>
<html class="whatinput-types-initial whatinput-types-mouse" lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% include "components/head.html" %}

        <link rel="stylesheet" type="text/css" href="assets/styles/designs/modern.css" />

        <style>
            .hero-full-screen {
                height: auto !important;
                background-position-y: -130px;
            }
        </style>

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>

    <body>
        {% include "components/admin.html" %}

        <div id="top" class="hero-full-screen">

            <div class="top-content-section">
                <div class="top-bar">
                    <div class="top-bar-left">
                        <ul class="menu">
                            <li class="menu-text">
                                <img class="show-for-medium hover-shake" src="assets/images/logos/logo-md.png" alt="{{ info.company }}" title="The nut doesn't fall far from the tree!" />
                            </li>
                            {% include "components/navigation.html" %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div id="main-content-section" class="row column small-10" data-magellan-target="main-content-section">
            {% block content %}
                <div class="editable"></div>
            {% endblock %}
        </div>

        <div class="row expanded padding-2" style="background-color: #E6E8EB;">

            <div class="column small-12 medium-4 grid-x grid-padding-x align-center">
                <div class="card-article-hover card small-11 editable">
                    <a href="#">
                        <img src="https://unsplash.it/600/400?1" />
                    </a>
                    <div class="card-section">
                        <p class="meta-data article-subtext">HEALTH | 15 MIN READ</p>
                        <a href="#">
                            <h3 class="article-title">Why is that acorn looking at me like that?</h3>
                        </a>
                        <p class="article-desc">
                            Seriously, why is he staring directly at me?
                            His gaze pierces my soul like an overcoming evil that's unworldly...
                        </p>
                    </div>
                    <div class="card-divider flex-container align-middle">
                        <img class="avatar" src="https://avatars.githubusercontent.com/u/1200752?v=4" width="50px" alt="avatar" />
                        <a href="#" class="author">Ben Young</a>
                    </div>
                    <div class="hover-border">
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-4 grid-x grid-padding-x align-center">
                <div class="card-article-hover card small-11 end editable">
                    <a href="#">
                        <img src="https://unsplash.it/600/400?2" />
                    </a>
                    <div class="card-section">
                        <p class="meta-data article-subtext">FOOTBALL | 10 MIN READ</p>
                        <a href="#">
                            <h3 class="article-title">Children Need Sports and Other Activites!</h3>
                        </a>
                        <p class="article-desc">
                            Sports, sports, sports, sports, sports.
                            Sports!
                            Sports this and sports that.
                            Ah hahaha, I love sports!...
                        </p>
                    </div>
                    <div class="card-divider flex-container align-middle">
                        <img class="avatar" src="/assets/images/content/ryan-jellybean.jpg" width="50px" alt="avatar" />
                        <a href="#" class="author">Ryan Jellybean</a>
                    </div>
                    <div class="hover-border">
                    </div>
                </div>
            </div>

            <div class="column small-12 medium-4 grid-x grid-padding-x align-center">
                <div class="card-article-hover card small-11 editable">
                    <a href="#">
                        <img src="https://unsplash.it/600/400?3" />
                    </a>
                    <div class="card-section">
                        <p class="meta-data article-subtext">GARDENING | 90 MIN READ</p>
                        <a href="#">
                            <h3 class="article-title">Succulents, how much water do they need?</h3>
                        </a>
                        <p class="article-desc">
                            Ŝ̶͚͈̺̽̓̉̽̾̿͆͜͠ͅủ̸̡͚̝̝̱̖͕̬̞̻͉̇̐͑͜͜c̸̫͍͖̺̣̈́c̸̠̯͙̰̩̀̍̃̃̂͑̐̐͋͜͠u̵̲͈͋͑͌͊̈́̓̔̎̒̄̌͆́̕͘͝l̷͙̪̳̤̰͒̀̽̑̚e̶̯̦̯̯͇̭͗̃̌͋͗͆̏n̴̛̪͙̭̮̆̍̈͛̇̂̈́t̴̨̛͚͚̃͑̐̽̓̈̄̀̓̓͝͝͝s̵̡̥̮̖̤͈̥͗́̈̇̎͂̿̀́ ̶͈̬̿̐͛͆̅̉͆̂̈́̋͝͝ą̵̢̢̢̧̢̱͓̰͙̹͕̟͎̗͍̫͊̽̆͘r̷̡̝͙̬̗̓͌͆̆̾̓̈́̑͐̔͘̚͝ë̴̗͈͓͘ͅ ̵̤͉̠̟͎͇̝̳̈́̈́͆͋̽̄̄̀̈́̇̔́͒̓͑ç̴̡̨̢̧̨̜̦͇̺͙̭̙̪̺͍͇̏̅͂̿̽̀͑̌̉̐̏̅͘̕̚ǫ̸̛͓̳͎̤̖̯͎̬͎͕̜̝̇̽̔͑̈́̔̊͆̚͝o̸̬͛͂͐̓͋̄͌͝l̶̜͕̭̘͉͖͐̆̾͊̑̋̃̓́͘,̴̡̧̤̦͚̦̼͗̌ ̸̮̭̩̏̓̀̍̿̿̋̆̐̏̒̒̆̕I̸̡͕̝̖͈͔̤̼̰͇͐̓̐̔̀̎̃́̆̌̕͘͝ ̵̢̬͖̗͕̫͕̫̬̬͍̩̖͈̭̭͆̋̕ͅg̸̫̏̑̅̍̆͐̀̊̑̆̉͌̇̔̽̕̚ú̸̬̟̱̩̪̮̥̤̳͉͇̜͙ȇ̵͈̟͙̲̘͈̭̹̞͔͌̂̾̉͋͒͜ś̸̡̭̭̌̂̍̐̈̾̓̂͐̀̓͂s̸̛̖̘͇͙̜̱̪̯̉̏͋̓̎͌̈́̉̿̓͒̃̕̚͝.̶̪̲̥̫͔͖͍͓̣͉͆̈́͂͛̆͗̔͝͝
                            ̴̢̡̥̭̜̟̰͐̐̓̃͊̒͋͂̋͘̕Ỹ̶̧̧̤̻͇̞̜̰̭̪̥͉͎̗̍̉͐͑̉͑̐o̴̦͖͕̹̳̗̯̤̺͓̝̤̠͐͑̊͑ͅű̷̧̱͍̮͙̀͛͊̕͝͠ ̵̡̨̡̜̟̜̟̯̏͐̏͜͜͠ͅk̴̥͕̖̱͍̘̮͔̞̟͙͈͕͈̇̑͋̍̀̅̓̾͛͠ͅn̸̢͎̝̫̟̻̦̥̉̇͐o̵̞̮̪̜̞͍̪̲̦͎̘̓͛̑̊͛̽͂͘͜͝ͅw̸̢̗̫̭͔̥͈̟̺̋̍̈́̍̈́̀̀̏̌́͠͠ͅ ̵̢̖̼͈̟̝̱͖̬̪͆͌͑̎w̶̡̱̫̖̒̿̑͐̓̾̎̈́͛̽́͝͝h̵̛̬̟͕á̶̭̳̠̰̯̤̰̏̋͋̃̂͑̈̈́͑̃̈͜͝͝ť̸̪̲̹̗̹̫̘̯̊͑̓͜͜͝'̸̤̟̙̾͛̐͑̔̋͐̏͊͋̽̚͜͝͠͝ș̴͉͚͇̻͓͂̇̃̑̀̚͝ ̴̢̥̼̫̜͖̱͙͙͇̖̝̰̺̠̅́̓͑̋̏̔̀͂͋̍̀ͅc̶̛̠̙̪͕̼͍̜̻̭͚̪̩̟̬̅̉̀̈́͌̀̉̈́̎̓̽̅͛ỏ̵̙͕̲̬̲̟̫̺̐̓̾̍̕o̶̜͕̣̹̝͑̽͑͗́͐̾͑̓̑̈͒̈́͝l̵̛͕̺͚̝̼̯͉̎̎̈̒̊̈́̿́͐͛͘̕e̶̡̫͚͌̐͑̋͗͛͌̇̀̏̀͒̒̐͘ŗ̶̡̤̦̜̝͉̹̞͚̣̞͌͐͂̍͒̒͂̅̀̚̚͜?̷̧̧̨̱̙͕̒́̒̈́̉̌͋̋͘͝
                            ̵̩͈̭̗̻̻͎̯̇̿͊̐͋̽̂̉̍̋͛̾̈́͝T̴̹͙̉̆̓̽̔̓ḥ̵̳̦̹̺͚̙͕̍́̄̊̏̽͐̏͒̎̆̓͋̅̚̕e̴̢̱̮̱̳̐͒̊̀̏́̊͆̃̾ ̷̬͕̘̞̆̊̒̾͗v̴͕̣̻͕̾͒͆͌̂͌͊̓͐̈́̔̓́͋ó̵̢̟̘͇͋̈́̉̂̑̓͊̄͜i̷͍̤̼̾̾̐̀̐̒̕c̵̡̛͇͖͉̻̺̦̞̟͛̎̔̿̇̋̓͒͝͝ę̴̩͖̘̯̈́͌͗̏͒͛̌͐̽͒͜s̷̨̲͈̩͇̈̿̌͊̓̉̉̎̈̃͘͘͝͝ ̷̟̻͓̭͕̣̘͎̠͔̲̠͌͑͘̚ḯ̴̛̺̺̦̈͋̋̓̔̌͜n̷̘͓̙͙̉̈͐ ̸̤̹͉̞̫͇̞̲̹̅̇̈́́̆̒͛m̷̢͍͔̬͕̠͓̿͛̾̍͠ỹ̷̧̡̢̧̥̼̥̭̝̦̖̼̝͖̹̤̾̿̽̉ ̴̥̺͑̃̅̔̓̈́́͝ḧ̷̹̦͇̖̘̯̳͓́̀̒̃e̵̙̱̟̽̃̇̋ḁ̷̫̹̟̻̼̲͍̜̞̮̈̃̇͋̑̽̍̚ͅḍ̸̡̳̙̜̱̥̖̹̘̟̣̩̌̆̃̒̈́̍̋̊͂̆̕!̵̲̤̐͊́́͠
                            ...
                        </p>
                    </div>
                    <div class="card-divider flex-container align-middle">
                        <img class="avatar hover-shake" src="assets/images/logos/logo-md.png" width="50px" alt="avatar" />
                        <a href="#" class="author">Nut Head</a>
                    </div>
                    <div class="hover-border">
                    </div>
                </div>
            </div>

        </div>

        <footer class="responsive-blog-footer">
            <div class="row">
                <div class="up-arrow" style="text-align:center;" data-magellan data-threshold="0">
                    <a href="#top">
                        <i class="fa fa-chevron-circle-up" aria-hidden="true">
                        </i>
                    </a>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="medium-8 columns small-order-2 medium-order-1 about-container">
                    <div class="row">
                        <div class="hide-for-small-only medium-4 columns about-section editable">
                            <img class="hover-shake" src="/assets/images/nutty/nutty-bodybuilder.jpg" />
                        </div>
                        <div class="medium-8 columns about-section editable">
                            <h4>About Me</h4>
                            <p>
                                Hi, I'm Dr. Nuthaniel Oakley Head, or you can call me "Nutty" or "Nut Head" for short.
                                I have my Ph.D in Arbory.
                                I'm pretty amazing and awesome!
                                Of course, not as amazing and awesome as you though.
                                I one time wrestled a bear.
                                People also mistakenly say I'm "Nuts", but the pluralization isn't nessicary.
                            </p>
                            <a href="/about{{ linkparams }}">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-4 columns small-order-1 medium-order-2 mailing-container editable">
                    <h4 class="mailing-list">Join my mailing list</h4>
                    <input type="text" placeholder="Email Address">
                    <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
                </div>
            </div>
            <div class="row columns flex-container align-justify">
                 <p>2023 &copy; {{ info.company }} - All rights reserved.</p>
            </div>
        </footer>

    </body>
</html>
