.testimonial-block-vertical-quote {
    background: rgba(23, 121, 186, 25%);
    padding: 1rem;
    border-radius: 0;
    margin-bottom: 1.875rem;
    position: relative;
    min-height: 6rem;
}

.testimonial-block-vertical-quote p:first-child:before {
    content: "“";
    font-size: 6rem;
    color: #aaa;
    float: left;
    height: 4rem;
    line-height: 6rem;
    margin: 0 1rem;
}

.testimonial-block-vertical-quote p {
    margin-bottom: 0;
}

.testimonial-block-vertical-quote p:not(:first-child) {
    margin-top: 1em;
}

.testimonial-block-vertical-quote p:last-child {
    margin-bottom: 2em;
}

.testimonial-block-vertical-quote p:last-child:after {
    content: "”";
    font-size: 6rem;
    color: #aaa;
    float: right;
    height: 4rem;
    line-height: 6rem;
    margin: 0 1rem;
}

.testimonial-block-vertical-quote::after {
    content: '';
    bottom: -1.25rem;
    left: 2.25rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.25rem 1.125rem 0;
    border-color: rgba(23, 121, 186, 25%) transparent transparent transparent;
    position: absolute;
}

.testimonial-right .testimonial-block-vertical-quote::after {
    left: initial;
    right: 2.25rem;
}

.testimonial-block-vertical-person {
    display: flex;
    margin-left: 1.65rem;
    margin-right: 1.65rem;
    align-items: center;
}

.testimonial-right .testimonial-block-vertical-person div {
    margin-left: auto;
}

.testimonial-block-vertical-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.testimonial-block-vertical-name {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
}

.testimonial-block-vertical-info {
    text-transform: uppercase;
    font-size: 14px;
    color: #8a8a8a;
    margin-bottom: 0;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
}


.rating-block {
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    float:right;
}

.testimonial-right .rating-block {
    float: left;
}

.rating-block .ratings-type {
    margin-right: 1rem;
    margin-bottom: 0;
}

.rating-block .rating-block {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.rating-block .rating-block-rating {
    display: flex;
}

.rating-block .star {
    cursor: pointer;
    stroke: #e6b400;
}

.rating-block .rating-block-rating .star.selected polygon {
    fill: #f6c402;
}

.rating-block .rating-block-rating.is-voted .star polygon {
    fill: #f6c402;
}

.rating-block .rating-block-rating.is-voted .star.selected ~ .star polygon {
    fill: transparent;
}

