<!--<div id="admin-bar" class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Admin</li>
                    <li><a href="#">Navigation</a></li>
                    <li><a href="#">Configuration</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li>
                        <button type="button" class="button responsive-toggle" data-toggle="admin-bar">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="sign-in-form reveal" id="exampleModal1" data-reveal>
    <h4 class="text-center">Admin Access</h4>

    <form>
        <label for="sign-in-form-username">Username</label>
        <input type="text" class="sign-in-form-username" id="sign-in-form-username">

        <div class="password-wrapper">
            <label for="sign-in-form-password">Password</label>
            <input type="password" class="sign-in-form-password password" id="sign-in-form-password" placeholder="password">
            <button class="unmask" type="button" title="Mask/Unmask password to check content">Unmask</button>
        </div>

        <br />
        <button type="submit" class="sign-in-form-button">Sign In</button>
    </form>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>-->
