{% extends "template/switcher.html" %}

{% block title %}
    {{ info.title }} - Clients
{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
        <h1>Our Clients</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row padding-2">
        <p>The work we do for our clients is our greatest value. So here's a showcase of that work.</p>

        <br />
        <hr />
        <br />

        <div class="grid-x grid-margin-x text-center" data-equalizer data-equalize-on="medium">

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="https://github.com/blaher/avcorn">AVCorn</a>
                </h3>

                <a href="https://github.com/blaher/avcorn">
                    <img class="thumbnail small-12" src="assets/images/designs/design-marketing.png" alt="Marketing Design" title="Marketing Design" />
                </a>

                <p style="font-size:0.8em; font-style:italic;">
                    The template designed for our open source CMS.
                </p>
            </div>

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="https://github.com/blaher/avcorn">AVCorn - Modern</a>
                </h3>

                <a href="https://github.com/blaher/avcorn">
                    <img class="thumbnail small-12" src="assets/images/designs/design-modern.png" alt="Modern Design" title="Modern Design" />
                </a>

                <p style="font-size:0.8em; font-style:italic;">
                    Design #2 for AVCorn CMS.
                </p>
            </div>

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="https://github.com/blaher/avcorn">AVCorn - Simple</a>
                </h3>

                <a href="https://github.com/blaher/avcorn">
                    <img class="thumbnail small-12" src="assets/images/designs/design-simple.png" alt="Simple Design" title="Simple Design" />
                </a>

                <p style="font-size:0.8em; font-style:italic;">
                    Design #3 for AVCorn CMS.
                </p>
            </div>

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="/">RJ Designs</a>
                </h3>
                <a href="/">
                    <img class="thumbnail small-12 hover-shake" src="assets/images/designs/design-agency.png" alt="Agency Design" title="Agency Design" />
                </a>
                <p style="font-size:0.8em; font-style:italic;">
                    Our own website design.
                </p>
            </div>

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="#">Autoshop</a>
                </h3>
                <a href="#">
                    <img class="thumbnail small-12" src="assets/images/designs/design-autoshop.png" alt="Autoshop Design" title="Autoshop Design" />
                </a>
                <p style="font-size:0.8em; font-style:italic;">
                    An autoshop template for AVCorn.
                </p>
            </div>

        </div>

        <br />

        <p class="text-center"><a class="button" href="/contact">Get Your Own Website</a></p>

        <br />
    </div>
{% endblock %}
