{% extends "template/main.html" %}

{% block title %}
  Contact Us
{% endblock %}

{% block content %}
  <div id="content-edit">
    <h1>Contact Us</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.
    </p>

    <form>
      <label>
        Email:
        <input name="email" type="email" />
      </label>

      <label>
        Message:
        <textarea name="message" rows="16" cols="80"></textarea>
      </label>

      <input class="button" type="submit" name="submit" value="Submit" />
    </form>
  </div>
{% endblock %}

{% block footer %}
  <div id="footer-edit">
    &copy; 2023 Ben Young
  </div>
{% endblock %}
