{% extends layout_path %}

{% block title %}
    {{ info.title }} - Clients
{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
        <h1>Our Clients</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row padding-2">
        <p>The work we do for our clients is our greatest value. So here's a showcase of that work.</p>

        <br />
        <hr />
        <br />

        <div class="grid-x grid-margin-x text-center" data-equalizer data-equalize-on="medium">
            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="#">Lawn Care</a>
                </h3>
                <a href="#">
                    <img class="thumbnail small-12" src="assets/images/designs/design-lawncare-lg.png" data-interchange="[assets/images/designs/design-lawncare-sm.png, small], [assets/images/designs/design-lawncare-md.png, medium], [assets/images/designs/design-lawncare-lg.png, large]" alt="Lawn Service" title="Lawn Service" />
                </a>
                <p style="font-size:0.8em; font-style:italic;">
                    An autoshop template for AVCorn.
                </p>
            </div>

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="https://github.com/avcorn/avcorn">AVCorn</a>
                </h3>

                <a href="https://github.com/avcorn/avcorn">
                    <img class="thumbnail small-12" src="assets/images/designs/design-marketing-lg.png" data-interchange="[assets/images/designs/design-marketing-sm.png, small], [assets/images/designs/design-marketing-md.png, medium], [assets/images/designs/design-marketing-lg.png, large]" alt="Marketing Design" title="Marketing Design" />
                </a>

                <p style="font-size:0.8em; font-style:italic;">
                    The template designed for our open source CMS.
                </p>
            </div>

            <div class="cell large-4 medium-4 small-12">
                <h3 style="font-weight:bold;">
                    <a href="/">Web Elements</a>
                </h3>
                <a href="/">
                    <img class="thumbnail small-12" src="assets/images/designs/design-agency-lg.png" data-interchange="[assets/images/designs/design-agency-sm.png, small], [assets/images/designs/design-agency-md.png, medium], [assets/images/designs/design-agency-lg.png, large]" alt="Web Elements" title="Web Elements" />
                </a>
                <p style="font-size:0.8em; font-style:italic;">
                    Our own website design.
                </p>
            </div>
        </div>

        <br />

        <p class="text-center"><a class="button" href="/contact">Get Your Own Website</a></p>

        <br />
    </div>
{% endblock %}
