{% extends "template/switcher.html" %}

{% block title %}
  {{ info.title }} - Different Designs
{% endblock %}

{% block header %}
  <h1 class="editable">Different Designs</h1>

  <br class="clearfix" />
  <a href="/designs?design=marketing" class="button large {% if design == "marketing" %}disabled{% endif %}">Marketing</a>
  <a href="/designs?design=portfolio" class="button large {% if design == "portfolio" %}disabled{% endif %}">Portfolio</a>
  <a href="/designs?design=modern" class="button large {% if design == "modern" %}disabled{% endif %}">Modern</a>
  <a href="/designs?design=simple" class="button large {% if design == "simple" %}disabled{% endif %}">Simple</a>
{% endblock %}

{% block content %}
  <div class="row editable">
    <br />

    <img class="thumbnail float-right margin-1" src="https://unsplash.it/300/400">

    <p>
      On this page you can switch over to different designs to see what's possible.
      You can also invoke this same switcher on any page throughout the site, by adding "<i>?design=marketing</i>" to the URL.
      All you need to do is change "<i>marketing</i>" to the theme you would like to utilize.
      We have provided you with several different themes to toy around and expriment with, so you can find what's best for you.
    <p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Sit soluta accusantium adipisci.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
    </p>

    <br />
  </div>
{% endblock %}
