{% extends "template/switcher.html" %}

{% block title %}
  {{ info.title }} - Gallery
{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
      <h1>Gallery</h1>
    </div>
{% endblock %}

{% block content %}
  <div class="row padding-2 editable">
    <p>Step into our visual journey and explore the captivating moments we've captured along the way. Here, within our photo gallery, we invite you to immerse yourself in a collection of images that reflect the essence of [Company Name]'s story, adventures, and the vibrant tapestry of our experiences.</p>
  </div>
{% endblock %}
