<!DOCTYPE html>
<html class="whatinput-types-initial whatinput-types-mouse" land="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% include "template/include/head.html" %}

    <link rel="stylesheet" type="text/css" href="assets/styles/designs/marketing.css" />
  </head>

  <body>
    {% include "template/include/admin.html" %}

    <div class="none">

      <header>
        {% include "template/include/header.html" %}

        <div class="row text-center">
          {% block header %}
            <div class="editable"></div>
          {% endblock %}
        </div>
      </header>

      <article id="content" class="docs-component row expanded clearfix">
          {% block content %}
            <div  class="editable"></div>
          {% endblock %}
      </article>

      <br />

      {% include "template/include/footer.html" %}
    </div>
  </body>
</html>
