<!DOCTYPE html>
<html class="whatinput-types-initial whatinput-types-mouse" land="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        
        {% include template_path~"/components/head.html" %}

        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>

    <div class="hero">
        {% block header %}
            <div class="editable"></div>
        {% endblock %}
    </div>

    <body>
        {% include "components/admin.html" %}

        {% include template_path~"/components/header.html" %}

        <article class="content row padding-2">
            {% block content %}
                <div class="editable"></div>
            {% endblock %}
        </article>

        {% include template_path~"/components/footer.html" %}
    </body>
</html>
