{% extends layout_path %}

{% block title %}
    {{ info.title }} - Help Us
{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
        <h1>Help Contribute to AVCorn</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row padding-2 editable">
        <div class="thumbnail float-right margin-2 padding-1 text-center">
            <a href="http://webelements.agency/about">
                <img src="/assets/images/content/ben.jpg" title="Some dude really in need of help." alt="The Project Owner of AVCorn" />
            </a>
            <p></p>
            <p>
                <strong>Ben Young</strong>,
                <br />
                <em class="subheader">Project Owner</em>
            </p>
        </div>

        <p class="h3 subheader" title="FOR THE LOVE OF GOD, HELP!">Please, help us! PLEASE! HEEEELLLLPPP!!!</p>
        <p>
            Ignoring our team's (<em>possibly insane</em>) antics...
            The hope of making AVCorn open source and free, even though we use it privately for <a href="http://webelements.agency">our sponsoring company</a>'s clientele, we want to give back to the open-source community.
            I'm sure others will find our own project and automation useful to save time.
            Maybe even a few of you could build a business model around it?
            I don't know.
            Providing easy access to better web designs for small businesses can't hurt, right?
        </p>
        <p>
            <strong>AVCorn is free and open-source:</strong>
            Feel free to borrow code or use AVCorn entirely to your heart's content.
            Just as long as it adheres to the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU GPLv3</a> specifications.
        </p>
        <p>
            Right now, we will take any help we can get.
            If you have any ideas or code you want to contribute, just clone the <a href="https://github.com/blaher/avcorn"><strong>GitHub</strong> repository</a>, and do a pull request.
            See our <a href="https://github.com/blaher/avcorn/blob/main/docs/CONTRIBUTING.md">contributing guide</a>, for more information.
            Other than that, our developers just need money for coffee and fuel to keep on coding.
            You can sponsor our development on <a href="https://github.com/blaher">GitHub</a>.
            Or if you have any questions, feel free to head over to <a href="http://webelements.agency">Web Elements</a> to use the <a <a href="http://webelements.agency/contact">contact form</a>.
        </p>

        <iframe src="https://github.com/sponsors/blaher/button" title="Sponsor blaher" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
    </div>
{% endblock %}
