{% set tmppath = template_path~layouts_root~"/home.html" %}
{% extends tmppath %}

{% block title %}
    {{ info.title }} - The Small Client CMS
{% endblock %}

{% block content %}
    <div class="docs-component-inner">
        <div class="row">

            <div class="columns small-12 medium-9">

                <div class="row editable">
                    <h1 style="color:#2c3840; font-weight:bold;">The Small Client CMS</h1>
                    <h4 class="subheader">"The nut doesn't fall from from the tree!"</h4>
                    <p>
                        AVCorn is a simple VC CMS for basic content websites, no databases required.
                        The original intent is for fast deploying, fast developing, and lightweight performance for low traffic website design clients.
                        Written in PHP, and utilizing the Twig templating engine.
                    </p>
                </div>

                <div class="row vertical-feature-block">
                    <div class="small-12 medium-3 large-3 columns editable">
                        <div class="text-center">
                            <img src="assets/images/content/semantic.svg" />
                        </div>
                        <h3 class="feature-block-header" style="color:#2c3840;">Semantic</h3>
                        <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
                    </div>

                    <div class="small-12 medium-3 large-3 columns editable">
                        <div class="text-center">
                            <img src="assets/images/content/responsive.svg" />
                        </div>
                        <h3 class="feature-block-header" style="color:#2c3840;">Mobile First</h3>
                        <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
                    </div>

                    <div class="small-12 medium-3 large-3 columns editable">
                        <div class="text-center">
                            <img src="assets/images/content/customizable.svg" />
                        </div>
                        <h3 class="feature-block-header" style="color:#2c3840;">Customize</h3>
                        <p>You can customize your build to include or remove certain elements, as well as define the size of columns, colors, font size and more.</p>
                    </div>

                    <div class="small-12 medium-3 large-3 columns editable">
                        <div class="text-center">
                            <img src="assets/images/content/training.svg" />
                        </div>
                        <h3 class="feature-block-header" style="color:#2c3840;">Professional</h3>
                        <p>Millions of designers and developers depend on Foundation. We have business support, training and consulting to help grow your product or service.</p>
                    </div>
                </div>
            </div>

            <div class="columns small-12 medium-3 editable">
                <div class="text-center">
                    <img class="hover-shake" src="assets/images/nutty/nutty.png" alt="AVCorn Logo" title="The nut doesn't fall from from the tree!" />
                </div>

                <h3 class="subheader text-center">Focus on Selling</h3>
                <p>With how little time you'll be spending on setting up a site with ACVorn, you can focus on adding more clients at less expense.</p>
                <p>It just takes a little bit of time from the point of sale to generating a completed website for your client.</p>

                <p class="text-center"><a href="/about{{ linkparams }}" class="link ">Learn More</a></p>
            </div>
        </div>

        <div style="background:#34404b; color:#fff;" class="row expanded text-center padding-2">
            <div class="editable">
                <h2 style="color:#fff; font-weight:bold;">AVCorn In Numbers</h2>
                <p style="color:#ccc;">Here's some stats to breakdown absolutely nothing useful.
            </div>

            <br />

            <div class="row grid-x">
                <div class="cell show-for-medium medium-2 large-1">
                    <br />
                </div>

                <div class="cell small-4 medium-3 large-2 editable">
                    <h3 style="color:#fff;">0.0001M+</h3>
                    <p style="color:#ccc;">Downloads every single year</p>
                </div>

                <div class="cell small-4 medium-3 large-2 editable">
                    <h3 style="color:#fff;">3</h3>
                    <p style="color:#ccc;">Websites powered by AVCorn</p>
                </div>

                <div class="cell small-4 medium-3 large-2 editable">
                    <h3 style="color:#fff;">-$41.89</h3>
                    <p style="color:#ccc;">Revanue Generated</p>
                </div>

                <div class="cell show-for-medium-only medium-1 end">
                    <br />
                </div>

                <div class="cell show-for-small-only small-2 end">
                    <br />
                </div>

                <div class="cell show-for-medium-only medium-3">
                    <br />
                </div>

                <div class="cell small-4 medium-3 large-2 editable">
                    <h3 style="color:#fff;">242</h3>
                    <p style="color:#ccc;">Commits on GitHub</p>
                </div>

                <div class="cell small-4 medium-3 large-2 end editable">
                    <h3 style="color:#fff;">0.89</h3>
                    <p style="color:#ccc;">Contributors on GitHub</p>
                </div>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="columns small-12 medium-7 editable">
                <h2 style="color:#2c3840;">Walkthrough</h2>
                <p>
                    We'll walk you through how to setup and manage your new website.
                    It's all pretty straight forward and seemless.
                    Our editing interfaces intergrate right on the actual design of your website.
                    You won't even know you're in an administration page, other than the fact we notify you as such.
                    So let your admin spin up your site, and easily handle all the tendious duties, keep the design simple and easy, and you'll quickly have a good looking website.
                    With all this in mind...
                    You'll be able to spin up a site and start editing both design and content within minutes!
                </p>

                <br />

                <a class="button" href="/about{{ linkparams }}">Get Started &gt;&gt;</a>

                <div id="watch">
                    <section id="stargazers" class="sites">
                        <a id="stars" class="sites stars" href="https://github.com/blaher/avcorn">0.0k GitHub stars</a>
                    </section>
                </div>
            </div>

            <div class="columns show-for-medium medium-5 text-center editable">
                <img src="assets/images/content/walkthrough.png" alt="" />
            </div>

        </div>

        <hr />

        <section class="row expanded padding-2 editable">
                <h3 class="subheader text-center">Brands Using Our Stack</h3>
                <div class="row expanded text-center">
                    {% for i in 0..2 %}
                        <!--<div>-->
                            {% for n in 0..3 %}
                                <div class="column small-6 medium-4 large-3">
                                    <img class="padding-1 small-10" src="assets/images/brands/logo-{{ random(1, 53) }}.svg" style="height:100px;" alt="Logo" />
                                </div>
                            {% endfor %}
                        <!--</div>-->
                    {% endfor %}
                </div>
        </section>

    </div>
{% endblock %}
