{% extends "template/main.html" %}

{% block title %}
  aVCorn - Guide
{% endblock %}

{% block content %}
  <div class="row">

    <div class="columns small-8">
      <h1>Walkthrough</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Dolor magna eget est lorem ipsum dolor sit amet.
        Sit amet consectetur adipiscing elit ut aliquam purus sit.
        Lacus viverra vitae congue eu.
        Aenean pharetra magna ac placerat vestibulum.
        Eu sem integer vitae justo eget magna fermentum.
        Aliquam malesuada bibendum arcu vitae elementum.
        Est placerat in egestas erat.
        Vestibulum lectus mauris ultrices eros in cursus.
        Volutpat lacus laoreet non curabitur gravida.
      </p>

      <h2>Login</h2>
      <p>
        Odio eu feugiat pretium nibh ipsum consequat nisl vel.
        Natoque penatibus et magnis dis parturient montes.
        Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec.
        Urna porttitor rhoncus dolor purus non enim.
        Nec feugiat nisl pretium fusce id velit ut.
        Condimentum mattis pellentesque id nibh tortor id aliquet lectus.
        Ut faucibus pulvinar elementum integer.
        Gravida in fermentum et sollicitudin ac orci phasellus.
        Malesuada pellentesque elit eget gravida cum sociis natoque.
        Pellentesque habitant morbi tristique senectus et netus et malesuada.
        Massa id neque aliquam vestibulum.
        Porttitor leo a diam sollicitudin tempor id eu nisl nunc.
        Amet risus nullam eget felis eget nunc lobortis mattis aliquam.
        Faucibus pulvinar elementum integer enim neque volutpat ac.
        Lorem donec massa sapien faucibus et molestie ac.
        Pellentesque nec nam aliquam sem et tortor consequat id.
        Eget est lorem ipsum dolor sit amet.
        Dictumst quisque sagittis purus sit.
        Proin libero nunc consequat interdum varius sit.
      </p>

      <button class="button">Bypass Login</button>

      <h2>The Admin Bar</h2>
      <p>
        Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus.
        Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat.
        Turpis egestas pretium aenean pharetra magna ac.
        Vitae elementum curabitur vitae nunc sed velit.
        Ac turpis egestas sed tempus urna.
        Dignissim sodales ut eu sem integer vitae.
        Quis commodo odio aenean sed adipiscing diam donec.
        Eu ultrices vitae auctor eu augue ut lectus arcu.
        Nisl vel pretium lectus quam id leo.
        Vulputate eu scelerisque felis imperdiet proin fermentum.
        Aliquet enim tortor at auctor urna nunc.
        Sem et tortor consequat id.
        Ac turpis egestas sed tempus urna et pharetra pharetra.
        Sagittis orci a scelerisque purus.
      </p>

      <h2>Configuration</h2>
      <p>
        Id venenatis a condimentum vitae sapien.
        Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
        Mi quis hendrerit dolor magna. Faucibus purus in massa tempor nec.
        Euismod nisi porta lorem mollis aliquam ut.
        Nunc consequat interdum varius sit amet mattis.
        Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget.
        Mauris cursus mattis molestie a iaculis at erat pellentesque adipiscing.
        Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut.
        Scelerisque felis imperdiet proin fermentum leo.
        Orci sagittis eu volutpat odio.
        Arcu non odio euismod lacinia at quis risus sed vulputate.
        Enim ut tellus elementum sagittis vitae et leo.
      </p>

      <p>
        Blandit libero volutpat sed cras ornare arcu dui.
        Aliquam nulla facilisi cras fermentum.
        Vestibulum morbi blandit cursus risus at ultrices mi tempus.
        Ac auctor augue mauris augue neque gravida in.
        Lobortis scelerisque fermentum dui faucibus.
        Ut consequat semper viverra nam libero.
        Elit ut aliquam purus sit amet luctus.
        Consequat interdum varius sit amet.
        Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit.
        Pellentesque habitant morbi tristique senectus.
      </p>

      <h2>Navigation</h2>
      <p>
        Quam lacus suspendisse faucibus interdum posuere lorem.
        Nunc scelerisque viverra mauris in aliquam sem.
        Arcu vitae elementum curabitur vitae nunc sed.
        Risus pretium quam vulputate dignissim suspendisse in est.
        Augue neque gravida in fermentum.
        Vel pretium lectus quam id leo in vitae.
        Eu nisl nunc mi ipsum faucibus.
        Massa ultricies mi quis hendrerit dolor.
        Nibh praesent tristique magna sit amet purus gravida quis blandit.
        Iaculis nunc sed augue lacus viverra vitae congue eu.
        Elementum eu facilisis sed odio morbi quis commodo odio aenean.
        Mauris ultrices eros in cursus.
        Potenti nullam ac tortor vitae purus faucibus ornare.
        Mauris nunc congue nisi vitae.
        Fermentum et sollicitudin ac orci.
        Elit duis tristique sollicitudin nibh sit.
        Donec adipiscing tristique risus nec feugiat.
        Vitae purus faucibus ornare suspendisse sed nisi.
        Vel elit scelerisque mauris pellentesque pulvinar.
        Et netus et malesuada fames ac turpis egestas sed.
      </p>

      <p>
        Ante metus dictum at tempor commodo.
        Sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra.
        Donec ac odio tempor orci dapibus ultrices.
        Vel risus commodo viverra maecenas accumsan.
        Sapien et ligula ullamcorper malesuada proin libero nunc consequat.
        Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit.
        Interdum posuere lorem ipsum dolor sit amet.
        Nam libero justo laoreet sit amet cursus sit amet.
        Nunc faucibus a pellentesque sit amet porttitor.
        Pellentesque habitant morbi tristique senectus et netus et.
        Ornare arcu dui vivamus arcu felis bibendum ut.
        Nibh mauris cursus mattis molestie a iaculis at erat pellentesque.
        Vitae ultricies leo integer malesuada nunc vel.
        Non sodales neque sodales ut etiam sit amet.
        Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar.
        Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo.
        Vulputate odio ut enim blandit volutpat maecenas volutpat blandit.
        Tellus rutrum tellus pellentesque eu tincidunt.
        In est ante in nibh mauris cursus.
      </p>

      <h2>Editing Content</h2>
      <p>
        Vel risus commodo viverra maecenas.
        Dolor magna eget est lorem. Leo duis ut diam quam nulla porttitor massa id.
        Dolor sed viverra ipsum nunc aliquet bibendum enim.
        Quam elementum pulvinar etiam non quam lacus.
        Condimentum vitae sapien pellentesque habitant morbi tristique senectus.
        Elit sed vulputate mi sit amet.
        Consectetur libero id faucibus nisl tincidunt eget nullam non.
        Faucibus pulvinar elementum integer enim neque volutpat ac.
        Leo duis ut diam quam nulla porttitor massa.
        Orci eu lobortis elementum nibh tellus molestie nunc non.
        Scelerisque fermentum dui faucibus in ornare quam viverra.
        Ipsum dolor sit amet consectetur adipiscing.
        Ultrices gravida dictum fusce ut placerat orci nulla pellentesque.
        Quam adipiscing vitae proin sagittis. Lorem ipsum dolor sit amet.
        Non odio euismod lacinia at quis risus sed.
        Magna etiam tempor orci eu.
      </p>

      <h3 class="subheader">Example</h3>
      <div class="row padding-2">
        <div class="row column small-11 thumbnail editable">
          <img class="thumbnail float-right margin-1" src="https://unsplash.it/200/200" alt="Pretty image" title="Example Image">

          <p>
            <strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor magna eget est lorem ipsum dolor sit amet.
            Sit amet consectetur adipiscing elit ut aliquam purus sit.
            Lacus viverra vitae congue eu.
          </p>
          <p>
            Aenean pharetra magna ac placerat vestibulum.
            Eu sem integer vitae justo eget magna fermentum.
            Aliquam malesuada bibendum arcu vitae elementum.
            <u>Est placerat in egestas erat.</u>
          </p>
          <p>
            <i>Vestibulum lectus mauris ultrices eros in cursus.</i>
            <i>Volutpat lacus laoreet non curabitur gravida.</i>
            <a href="#">Example Link</a>
          </p>
        </div>
      </div>

      <p>
        Morbi tristique senectus et netus et malesuada fames.
        Etiam erat velit scelerisque in dictum non consectetur.
        Suspendisse in est ante in.
        Fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque.
        Et tortor consequat id porta nibh.
        Ultrices vitae auctor eu augue ut lectus.
        Consequat semper viverra nam libero justo laoreet sit amet.
        Ipsum a arcu cursus vitae congue mauris rhoncus.
        Sed tempus urna et pharetra.
        Lacus suspendisse faucibus interdum posuere lorem ipsum dolor.
        Et netus et malesuada fames.
      </p>

      <h2>Pages</h2>
      <p>
        Turpis tincidunt id aliquet risus feugiat in.
        Eu tincidunt tortor aliquam nulla facilisi cras.
        Vulputate eu scelerisque felis imperdiet proin fermentum leo vel.
        At ultrices mi tempus imperdiet nulla.
        Ullamcorper velit sed ullamcorper morbi.
        Vel quam elementum pulvinar etiam.
        Vulputate sapien nec sagittis aliquam malesuada.
        Netus et malesuada fames ac turpis.
        Imperdiet massa tincidunt nunc pulvinar sapien et.
        Ornare lectus sit amet est placerat.
        Turpis nunc eget lorem dolor sed viverra ipsum.
        Tellus pellentesque eu tincidunt tortor aliquam.
        Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet.
        Ut venenatis tellus in metus vulputate.
        Dui id ornare arcu odio ut sem.
        Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.
      </p>

      <h2>Templates</h2>
      <p>
        Purus non enim praesent elementum facilisis leo vel fringilla.
        Vitae aliquet nec ullamcorper sit amet risus nullam eget.
        Lorem ipsum dolor sit amet consectetur adipiscing.
        Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet.
        Id ornare arcu odio ut sem nulla pharetra diam sit.
        Id leo in vitae turpis massa.
        Tristique et egestas quis ipsum.
        Fusce ut placerat orci nulla pellentesque dignissim enim sit amet.
        Tristique senectus et netus et malesuada fames.
        Ornare suspendisse sed nisi lacus sed.
        Gravida neque convallis a cras.
      </p>

      <p>
        Aenean et tortor at risus viverra adipiscing at.
        Curabitur vitae nunc sed velit dignissim sodales ut.
        Arcu vitae elementum curabitur vitae nunc sed.
        Tincidunt vitae semper quis lectus nulla at volutpat.
        Fusce ut placerat orci nulla pellentesque dignissim enim sit.
        Eget arcu dictum varius duis at consectetur lorem.
        Massa tincidunt nunc pulvinar sapien et ligula.
        Eget lorem dolor sed viverra ipsum nunc aliquet.
        Tincidunt id aliquet risus feugiat in ante metus.
        Vitae aliquet nec ullamcorper sit amet risus nullam eget felis.
        Ac orci phasellus egestas tellus rutrum tellus.
      </p>
    </div>

    <div class="columns small-4 right" data-sticky-container>
      <div class="text-center sticky" data-margin-top="0">
        <i class="subheader">"Hi there! I'm Nutty, and I'm here to help you through using aCVorn."</i>
        <img src="assets/images/logo.png" alt="Nut Head" title="Dr. Nuthaniel O. Head" />
      </div>
    </div>

  </div>
{% endblock %}
