{% extends "template/alternative.html" %}

{% block title %}
  aVCorn - Alternative Page Design
{% endblock %}

{% block content %}
  <div class="editable">
    <br />

    <img class="thumbnail float-right" src="https://unsplash.it/300/400">

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Sit soluta accusantium adipisci.
    </p>

    <br />

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Sit soluta accusantium adipisci.
      Numquam dolorem quaerat sunt, qui nostrum cum beatae ratione.
      Omnis quae tenetur eius doloribus vel?
      Itaque, placeat voluptatibus?
      Sit soluta accusantium adipisci.
    </p>

    <br />
  </div>
{% endblock %}
