{% extends "template/main.html" %}

{% block title %}
  Contact Us
{% endblock %}

{% block content %}
  <div class="editable">
    <h1>Contact Us</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Expedita dolorem accusantium architecto id quidem, itaque nesciunt quam ducimus atque.
    </p>
  </div>

    <form>
      <label>
        <span class="editable">Email:</span>
        <input name="email" type="email" />
      </label>

      <label>
        <span class="editable">Message:</span>
        <textarea name="message" rows="16" cols="80"></textarea>
      </label>

      <span class="editable"><input class="button" type="submit" name="submit" value="Submit" /></span>
    </form>
{% endblock %}

{% block footer %}
  <div class="editable"
    &copy; 2023 Ben Young
  </div>
{% endblock %}
