{% extends "template/main.html" %}

{% block title %}
  aVCorn - Home
{% endblock %}

{% block content %}
  <div class="docs-component-inner">
    <div class="row">

      <div class="columns small-9">

        <div class="row editable">
          <h1 style="color:#2c3840; font-weight:bold;">The Small Client CMS</h1>
          <h4 class="subheader">"The nut doesn't fall from from the tree!"</h4>
          <p>
            aVCorn is a simple VC CMS for basic content websites, no databases required.
            The original intent is for fast deploying, fast developing, and lightweight performance for low traffic website design clients.
            Written in PHP, and utilizing the Twig templating engine.
          </p>
        </div>

        <div class="row vertical-feature-block">
          <div class="medium-3 large-3 columns editable">
             <img src="assets/images/semantic.svg">
             <h3 class="feature-block-header">Semantic</h3>
             <p>Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
          </div>

          <div class="medium-3 large-3 columns editable">
             <img src="assets/images/responsive.svg">
             <h3 class="feature-block-header">Mobile First</h3>
             <p>You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
          </div>

          <div class="medium-3 large-3 columns editable">
             <img src="assets/images/customizable.svg">
             <h3 class="feature-block-header">Customizable</h3>
             <p>You can customize your build to include or remove certain elements, as well as define the size of columns, colors, font size and more.</p>
          </div>

          <div class="medium-3 large-3 columns editable">
             <img src="assets/images/training.svg">
             <h3 class="feature-block-header">Professional</h3>
             <p>Millions of designers and developers depend on Foundation. We have business support, training and consulting to help grow your product or service.</p>
          </div>
        </div>
      </div>

      <div class="columns small-3 editable">
        <div class="text-center">
          <img src="assets/images/logo.png" alt="aVCorn Logo" title="The nut doesn't fall from from the tree!" />
        </div>

        <h3 class="subheader text-center">Focus on Selling</h3>
        <p>With how little time you'll be spending on setting up a site with aCVorn, you can focus on adding more clients at less expense.</p>
        <p>It just takes a little bit of time from the point of sale to generating a completed website for your client.</p>

        <p class="text-center"><a href="#" class="link ">Learn More</a></p>
      </div>
    </div>

    <div style="background:#34404b; color:#fff;" class="row text-center padding-2">
      <div class="editable">
        <h2>aVCorn In Numbers</h2>
        <p>Here's some stats to breakdown absolutely nothing useful.
      </div>

      <br />

      <div class="row">
        <div class="columns small-1">
          <br />
        </div>

        <div class="columns small-2 editable">
          <h3>0M+</h3>
          <p>Downloads every single year</p>
        </div>

        <div class="columns small-2 editable">
          <h3>0M+</h3>
          <p>Products powered by aVCorn</p>
        </div>

        <div class="columns small-2 editable">
          <h3>$0.00</h3>
          <p>Revanue Generated</p>
        </div>

        <div class="columns small-2 editable">
          <h3>20</h3>
          <p>Commits on GitHub</p>
        </div>

        <div class="columns small-2 editable end">
          <h3>1</h3>
          <p>Contributors on GitHub</p>
        </div>
      </div>
    </div>

    <br />

    <div class="row">

      <div class="columns small-7 editable">
        <h2>Walkthrough</h2>
        <p>
          We'll walk you through how to setup and manage your new website.
          It's all pretty straight forward and seemless.
          Our editing interfaces intergrate right on the actual design of your website.
          You won't even know you're in an administration page, other than the fact we notify you as such.
          So let your admin spin up your site, and easily handle all the tendious duties, keep the design simple and easy, and you'll quickly have a good looking website.
          With all this in mind...
          You'll be able to spin up a site and start editing both design and content within minutes!
        </p>

        <br />

        <a class="button" href="/about">Get Started &gt;&gt;</a>

        <div id="watch">
          <section id="stargazers" class="sites">
            <a id="stars" class="sites stars" href="https://github.com/blaher/avcorn">0.0k GitHub stars</a>
          </section>
        </div>
      </div>

      <div class="columns small-5 text-center editable">
        <img src="assets/images/walkthrough.png" alt="" />
      </div>

    </div>

    <hr />

    <section class="row editable">
        <h3 class="subheader text-center">Brands Using Our Stack</h3>
        <ul>
          <li>Me</li>
          <li>No one in particular</li>
          <li>Future You</li>
        </ul>
    </section>

  </div>
{% endblock %}
