{% extends layout_path %}

{% block title %}
    {{ info.title }} - Help Us
{% endblock %}

{% block header %}
    <div class="row padding-1 editable">
        <h1>Help Contribute</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row padding-2 editable">
        <p>
            The hope of making AVCorn open source and free, even though I use it personally for my own clientele, is that the whole benefits over the few. I'm sure others will find my own project and automation useful to save time. Feel free to borrow code or use AVCorn entirely to your heart's content. Just as long as it adheres to the GPL3 specifications.
        </p>
        <p>
            Right now, I we will take any help we can get.
            If you have any ideas or code you want to contribute, just clone the <a href="https://github.com/blaher/avcorn">GitHub repository</a>, and do a pull request.
            Other than that, I just need money for coffee and fuel to keep on coding.
            You can sponsor me on <a href="https://github.com/blaher">GitHub</a>.
        </p>

        <iframe src="https://github.com/sponsors/blaher/button" title="Sponsor blaher" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
    </div>
{% endblock %}
